<div class="page-header" id="header">
    <h1>Make your own poll here <br><small>by: Amanda Branquinho</small></h1>
    <ul class="nav nav-pills" id="myNavBar">        
        <li role="presentation"><a href="/">Instructions</a></li>
        <li role="presentation"><a href="/dashboard">New Poll</a></li>
        <li role="presentation"><a href="/myPolls">My Polls</a></li>
        <li role="presentation"><a href="/logout">Logout</a></li>
    </ul>
</div>