<div class="page-header" id="header">
    <h1>Make your own poll here <br><small>by: Amanda Branquinho</small></h1>
    <ul class="nav nav-pills" id="myNavBar">
        <li role="presentation"><a href="/">Instructions</a></li>
        <li role="presentation"><a href="/polls/allPolls">See all polls</a></li>
        <li role="presentation"><a href="/login">Login</a></li>
        <li role="presentation"><a href="/register">Register</a></li>
    </ul>
</div>