<div id="seeAllPolls">
    <h1>All polls available to vote!</h1>
    {{#each questions}}
    <a href="/polls/question/?id={{id_question}}" class="btn btn-default">
        <div class="question" id='{{id_question}}'>
            <h3>{{question}}</h3>
        </div>            
    </a>
    {{/each}}
</div>