<div class="container">
    <div class="jumbotron" id="explainedChallenge">
        <h1>Now it is time to create your poll!</h1>
        <p id="fcc">This is a freeCodeCamp challenge</p>

       
        <h3>Users has to be able to:</h3>
        <ol>
            <li>login/register</li> 
            <p>As an authenticated user:</p>
            <li>You can keep your polls and come back later to access them.</li>
            <li>You can share your polls with your friends.</li>
            <li>You can see the aggregate results of your polls.</li>
            <li>You can delete polls that you decide you don't want anymore.</li>
            <li>You can create a poll with any number of possible items.</li>
            <li>If you don't like the options on a poll, you can create a new option.</li>
            <p>Also as an unauthenticated user: </p>
            <li>You can see and vote on everyone's polls.</li>
            <li>You can see the results of polls in chart form.</li>

        </ol>
    </div>
</div>
