<div class="container" id="myPolls">
    <h1>Welcome to your polls</h1>

    <div id='poll' > 
        {{#each questions}}
        <a href="/polls/question/?id={{_id}}" class="card btn btn-default">
            <div class="question" id='{{_id}}'>
                <h3>{{question}}</h3>
            </div>
            <a href="/polls/deletepoll/?id={{_id}}" class="deleteBtn btn btn-default">Delete this poll</a>              
        </a>
        {{/each}}
    </div>   
</div>