<div class="container" id="eachQuestion">
    <h1>{{question}}</h1>
    <div> <!-- VIRAR FORM-->
        {{#each options}}
        <a href="/vote/?question_id={{question_id}}&option_id={{option_id}}" class="btn btn-default"><li>{{option}}</li></a>
        {{/each}}            
    </div>
</div>
