<div class="container" id="eachQuestion">
 <form action="/answers/vote/?question_id={{question_id}}" method="POST">
  <h1>{{question}}</h1>
  <div> 
   {{#each options}}
    <input type="radio" name="option" value='{{option_id}}'>{{option}}
   {{/each}}            
   <button class="btn btn-default">Submit</button>
  </div>
 </form>
</div>

